# TestApp
#/TestApp

# dependencies
/node_modules*

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
.prettierrc
.prettierignore
.flowconfig
.eslintrc
.vscode/

yarn-debug.log*
yarn-error.log*
